body {
    margin: 0px;
    background-color: #427E80;
}

nav {
    background-color:  #427e80;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px;
}

header {
    background: url(./assets/imagenes/codigo.jpeg) 50% 0 fixed;
    background-size: cover;
    min-height: 500px;
    font-size: 28px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

svg {
    width: 200px;
    height: 80px;
}

.monitorAzul, .tecladoAzul {
    animation-name: parteAzul;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}

.monitorCeleste, .tecladoCeleste {
    animation-name: parteCeleste;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}

@keyframes parteAzul {
    0% {
        transform: translate(0, -10px);
        opacity: 0;
    }
    20% {
        transform: translate(0, -10px);
        opacity: 0;
    }
    30% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes parteCeleste {
    0% {
        transform: translate(0, -10px);
        opacity: 0;
    }
    30% {
        transform: translate(0, -10px);
        opacity: 0;
    }
    40% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

h1 {
    background-color: #2d2d2d;
    text-shadow: 4px 4px #000000;
    text-align: center;
    color: #eeeeee;
}

h2 {
    text-shadow: 2px 2px #154454;
    font-size: 40px;
    text-align: center;
    color: #f0f5e4;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.boton-nav {
    box-shadow: 2px 3px #154454;
    background-color: #f0f5e4;
    color: #154454;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.boton-nav:active {
    box-shadow: 0px 0px #154454;;
    transform: translate(2px,3px);
  }

#contenido {
    margin: 100px 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 100px 20px;
}

.card-contenido {
    width: 350px;
    height: 400px;
    border: 5px solid #154454;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f5e4;
}

.imagen-card {
    width: 100%;
}

.texto-card {
    width: 90%;
    text-align: center;
    height: 30px;
}

.boton-card {
    background-color: #427e80;
    box-shadow: 2px 3px #154454;
    padding: 10px;
    border-radius: 10px;
    color: #f0f5e4;
    width: 45%;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 40%;
}

.boton-card:active {
    box-shadow: 0px 0px #154454;;
    transform: translate(2px,3px);
  }

#logo {
    height: 80px;
    margin-left: 60px;
}

#botonera {
    display: flex;
    width: 300px;
    justify-content: space-around;
}

footer {
    background-color: #1d1d1d;
    height: 80px;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f0f5e4;
}

.footer-logo {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    text-align: center;
    width: 300px;
    height: 60px;
}

.footer-texto {
    text-align: center;
}

/*Historia*/
.contenido-historia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
}

.card-contenido-historia {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 80px 50px;
}

.card-texto-historia {
    width: 45%;
}

.seccion-video-historia {
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-contenedor {
    width: 70%;
    background-color: #000000;
    margin: 0px;
    padding: 5px;
}

#video-historia {
    width: 100%;
}

.barra-video {
    display: flex;
    justify-content: space-between;
    background-color: #1d1d1d;
    border-radius: 10px;
    margin: 5px 4px;
    color: #eeeeee;
    margin: 0px 5px;
}

.botonera-video {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 5px;
}

.boron-barra {
    box-shadow: 2px 3px #154454;
    border-radius: 10px;
    height: 48px;
    width: 78px;
}

.boron-barra:active {
    box-shadow: 0px 0px #154454;
    transform: translate(2px, 3px);
}

#duracion {
    margin: 25px 15px 0px 0px;
}